<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.dajie.wika.dao.RelationFriendDAO">
	<insert id="insert" parameterType="java.util.Map">
		insert into relation_friend
		(user_id,friend_id,create_time)
		values
		(#{userId},#{friendId},#{createTime})
	</insert>

	<delete id="delete" parameterType="java.util.Map">
		delete from relation_friend
		where user_id = #{userId} and friend_id =
		#{friendId}
	</delete>

	<select id="getFriends" resultType="java.lang.Integer"
		parameterType="java.lang.Integer">
		select friend_id from relation_friend where
		user_id =#{userId} order by create_time desc
	</select>

	<select id="getFriendCountByInterval" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		select count(user_id) from relation_friend where
		user_id =
		#{userId} and
		create_time &lt;= #{endTime} and create_time &gt;=
		#{startTime}
	</select>
</mapper>