<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.dajie.wika.dao.UserOccupationDAO">
	<resultMap id="UserOccupation" type="com.dajie.wika.model.UserOccupation">
		<id column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="corp" property="corp" jdbcType="VARCHAR" />
		<result column="industry" property="industry" jdbcType="INTEGER" />
		<result column="position" property="position" jdbcType="VARCHAR" />
		<result column="job_type" property="jobType" jdbcType="INTEGER" />
		<result column="department" property="department" jdbcType="VARCHAR" />
	</resultMap>

    <insert id="insertUserOccupation" parameterType="com.dajie.wika.model.UserOccupation">
       insert into user_occupation (user_id,corp,industry,position,job_type,department)
         values 
           (#{userId},#{corp},#{industry},#{position},#{jobType},#{department})
    </insert>
    
    <select id="getByUserId" parameterType="java.lang.Integer" resultMap="UserOccupation">
       select user_id, corp, industry, position, job_type, department 
         from user_occupation 
           where user_id = #{userId}
    </select>
    
    <update id="updateUserOccupation" parameterType="com.dajie.wika.model.UserOccupation">
         replace into user_occupation (user_id,corp,industry,position,job_type,department)
         values 
           (#{userId},#{corp},#{industry},#{position},#{jobType},#{department})
    </update> 
    
    <delete id="delete" parameterType="java.lang.Integer">
       delete from user_occupation where user_id = #{userId}
    </delete>
</mapper>