<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>Wika Wap Application</display-name>
	
    <!-- #dajie_pro_need#
	<listener>
		<listener-class>com.dajie.base.listener.AssetsVersionLoaderListener</listener-class>
	</listener>
	#dajie_pro_need# -->
	<!-- <listener>
		<listener-class>com.dajie.wika.wap.interceptors.InitialLogbackAndConstListener</listener-class>
	</listener> -->
	
<!-- 	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/applicationContext.xml,classpath*:dubbo_config/*.xml
		</param-value>
	</context-param> -->
	
	<servlet>
		<servlet-name>wap</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/wap-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>wap</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/500.jsp</location>
	</error-page>

	<session-config>
		<session-timeout>10000</session-timeout>
	</session-config>
	
	<filter>  
  <filter-name>encodingFilter</filter-name>  
  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
  <init-param>  
    <param-name>encoding</param-name>  
    <param-value>UTF-8</param-value>  
  </init-param>  
  <init-param>  
    <param-name>forceEncoding</param-name>  
    <param-value>true</param-value>  
  </init-param>  
</filter>  
<filter-mapping>  
  <filter-name>encodingFilter</filter-name>  
  <url-pattern>/*</url-pattern>  
</filter-mapping>

	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
			<taglib-location>/WEB-INF/taglib/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/taglib/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
			<taglib-location>/WEB-INF/taglib/sql.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
			<taglib-location>/WEB-INF/taglib/x.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/fn</taglib-uri>
			<taglib-location>/WEB-INF/taglib/fn.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://jsptags.com/tags/navigation/pager</taglib-uri>
			<taglib-location>/WEB-INF/taglib/pager-taglib.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://www.dajie.com/trial/core</taglib-uri>
			<taglib-location>/WEB-INF/taglib/trial.tld</taglib-location>
		</taglib>
	</jsp-config>
	<welcome-file-list>
		<welcome-file>/WEB-INF/jsp/phone-number.jsp</welcome-file>
	</welcome-file-list>
</web-app>
